@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #181717;
}
.navbar h1 {
  color: #2631cf;
  font-size: 65px;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  align-items: stretch;
  margin-left: 25px;
  text-decoration: none;
  padding: 4px;
  font-size: 25px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/*subject list*/
.subject {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.subject:hover {
  box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
}
.subject h2 {
  font-size: 30px;
  color: #04b1a2;
  margin-bottom: 8px;
}
.subject a{
  text-decoration: none;
}

/* Subject details page */
.sub-details h2 {
  font-size: 40px;
  color: #3538f1;
  margin-bottom: 10px;
}
.sub-details p {
  font-size: 25px;
  color: #666146;
  margin-bottom: 10px;
}
.sub-details div {
  font-size: 20px;
  margin: 20px 0;
}
.sub-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* Add new Subject form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-size: 20px;
}
.create h2 {
  font-size: 40px;
  color: #df7c1f;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  font-size: 20px;
  background: #f13535;
  color: #fff;
  border: 0;
  padding: 18px;
  border-radius: 18px;
  cursor: pointer;
}